.card {
  background: rgb(247, 133, 3);
  border-radius: 3px;
  border: blue;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
  background: rgb(243, 132, 5);
}
/* .card > .img-container > img {
  height: 75%;
  width: 75%;
} */

.img-container {
  display: block;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
  height: 85%;
  width: 85%;
  margin: auto;
  line-height: 30px
}
